* {
    margin: 0px;
    padding: 0px;
}

body {
    border-top: 3px solid #FCB416;
    text-align: center;
    font-family: Gulim;
    font-size: 13px;
}

a {
    color: black;
    text-decoration: none;
}

header {
    margin: auto;
    display: flex;
    justify-content: space-between;
    padding: 10px 5px;
    max-width: 768px;
}

.title {
    border: 1px solid #DDDDDD;
    border-radius: 7px;
}

.logo ul li, 
.menu ul li {
    width: 60px;
    height: 21px;
    position: relative;
    list-style: none;
    border: 1px solid #DDDDDD;
    background-color: #FCB416;
    border-radius: 7px;
    padding: 2px 2px;
    line-height: 21px
}
#b {
    top: 7px;
}

.logo li a,
.menu li a {
    font-size: 12px;
    font-weight: bold;
    color: white;
}

.board-channel {
    margin: auto;
    background-color:#E8E8E8;
}

.board-channel ul {
    margin: auto;
    max-width: 768px;
    display: flex;
    justify-content: space-between;
    list-style: none;
}

.board-channel li {
    padding: 10px 0px;
}

.board-channel li:hover {
    background-color:#E8E8E8;
    border-radius: 5px;
}

.board-channel li:hover span {
    color: #FFB518;
}

.board-channel a {
    color: #666666;
}

table {
    border-collapse: collapse;
    color: inherit;
}
.tabale a {
    text-decoration: none;
    color: inherit;
}

caption {
    display: none;
}

.board-list-wrap {
    margin: auto;
    padding: 15px 5px;
    max-width: 768px;
}
.board-list {
    width: 100%;
    border-top: 2px solid #F1F1F1;
    color:black
}

.board-list tr {
    border-bottom: 1px solid #DDDDDD;
}

.board-list th,
.board-list td {
    text-align: center;
    padding: 5px;
}

.board-list tbody tr td:nth-child(2) {
    text-align: left;
}

.board-list tbody tr td:nth-child(2):hover a {
    color:#FCB416;
}

.board-list-wrap .paging {
    margin-top: 15px;
    text-align: center;
}

.board-list-wrap .paging a {
    display: inline-block;
    line-height: center;
    margin-left: 5px;
    padding: 2px 2px;
    border: 1px solid #999999;
    border-radius: 5px;
}

.board-list-wrap .paging a:first-child {
    margin-left: 0;
}

.board-list-wrap .paging a.num {
    background-color: #EEEEEE;
    font-weight: bold;
}

.board-list-wrap .paging a.num.on {
    background-color: #FCB416;
}

.bottom {
    font-size: 12px;
    font-family: Cambria;
    color: gray;
}

@media only screen and (max-width: 2560px) {
    header,
    .board-channel ul {
        max-width: 730px;
    }
}

@media only screen and (max-width: 490px) {
    body {
        font-size: 13px;
    }
    .logo li a,
    .menu li a {
        font-size: 12px;
        font-weight: bold;
        color: white;
    }
    .title {
        width: 210px;
    }
    .board-channel li {
        padding: 10px 10px;
    }
    .board-list thead tr th:nth-child(3),
    .board-list tbody tr td:nth-child(3),
    .board-list thead tr th:nth-child(5),
    .board-list tbody tr td:nth-child(5) {
        display: none;
    }
}
