* {
    margin: 0px;
    padding: 0px;
}

body {
    text-align: center;
    font-family: Gulim;
    font-size: 13px;
}

a {
    color: black;
    text-decoration: none;
}

header {
    margin: auto;
    display: flex;
    justify-content: space-between;
    padding: 10px 10px;
    max-width: 768px;
}

.logo {
    padding-top: 0px;
}

.title {
    border: 1px solid #FFAE18;
    border-radius: 5px;
}

.menu ul {
    line-height: center;
}

.menu ul li {
    width: 55px;
    height: 20px;
    position: relative;
    list-style: none;
    border: 1px solid white;
    background-color: #FFAE18;
    border-radius: 5px;
    padding: 3px 6px;
    line-height:20px
}
#b {
    top: 5px;
}

.menu li a {
    font-size: 12px;
    color: white;
    font-weight: bold;
}

.board-channel {
    margin: auto;
    background-color:#E7E7E7;
}

.board-channel ul {
    margin: auto;
    max-width: 730px;
    display: flex;
    justify-content: space-between;
    list-style: none;
}

.board-channel a {
    font-size: 13px;
}

.board-channel li {
    padding: 10px 10px;
}

.board-channel li:hover {
    background-color:#E7E7E7;
}

.board-channel li:hover span {
    color:#FFAE18;
}

table {
    border-collapse: collapse;
    color: inherit;
}
.tabale a {
    text-decoration: none;
    color: inherit;
}

caption {
    display: none;
}

.board-list-wrap {
    margin: auto;
    padding: 15px 5px;
    max-width: 768px;
}
.board-list {
    width: 100%;
    border-top: 2px solid #F1F1F1;
    color:black
}

.board-list tr {
    border-bottom: 1px solid #DDDDDD;
}

.board-list th,
.board-list td {
    text-align: center;
    padding: 5px;
}

.board-list tbody tr td:nth-child(2) {
    text-align: left;
}
.board-list-wrap .paging {
    margin-top: 15px;
    text-align: center;
}

.board-list-wrap .paging a {
    display: inline-block;
    line-height: center;
    margin-left: 5px;
    padding: 2px 2px;
    border: 1px solid #999999;
    border-radius: 5px;
}

.board-list-wrap .paging a:first-child {
    margin-left: 0;
}

.board-list-wrap .paging a.num {
    background-color: #BBBBBB;
    font-weight: bold;
}

.board-list-wrap .paging a.num.on {
    background-color: white;
}

.bottom {
    font-size: 12px;
    font-family: Cambria;
    color: gray;
}
