body {
    max-width: 768px;
    width: 100%;
    padding: 0px 10px;
    text-align: center;
}

a {
    color: #333333;
    text-decoration: none;
}

.board-top {
    padding: 5px 0px;
    display: flex;
}

.board-button {
    display: inline-block;
    list-style: none;
    text-align: left;
    background: #FFAE18;
    padding: 10px;
    color: white;
    font-size: 14px;
    border-radius: 3px;
}

table {
    border-collapse: collapse;
    color: inherit;
}

caption {
    display: none;
}

.tabale a {
    text-decoration: none;
    color: inherit;
}

.board-list-wrap {
    padding: 0px;
}

.board-menu {
    margin-bottom: 10px;
    display: flex;
    justify-content: center;   
    list-style: none;
    border: 1px solid #DDDDDD;
    border-radius: 3px;
    background-color: #ECECEC;
}

.board-menu a {
    padding: 10px 10px;
    font-size: 13px;
}

.board-menu a:hover {
    background-color: #CCCCCC;
    border-radius: 1px; 
}

.board-list {
    width: 100%;
    border-top: 2px solid #C8C8C8;
    font-size: 13px;
    color:black
}

.board-list tr {
    border-bottom: 1px solid #DDDDDD;
}

.board-list th,
.board-list td {
    text-align: center;
    padding: 5px;
}

.board-list tbody tr td:nth-child(2) {
    text-align: left;
}

.board-list-wrap .paging {
    margin-top: 10px;
    text-align: center;
}

.board-list-wrap .paging a {
    display: inline-block;
    line-height: center;
    margin-left: 5px;
    padding: 2px 2px;
    border: 1px solid #888888;
    border-radius: 3px;
}

.board-list-wrap .paging a:first-child {
    margin-left: 0;
}

.board-list-wrap .paging a.num {
    background-color: #C8C8C8;
    font-weight: 600;
}

.board-list-wrap .paging a.num.on {
    background-color: white;
}