* {
    margin: 0px auto;
    padding: 0px;
}

body {
    background-image: linear-gradient(rgba(255, 243, 202, 0.068), rgba(255, 255, 255, 0));
    background-size:auto;
    background-repeat: no-repeat;
    background-position: top right;
    background-attachment: fixed;
    border-top: 3px solid #FFB518;
    text-align: center;
    line-height: normal;
    font-family: Gulim;
}

a {
    color: black;
    text-decoration: none;
}

.top {
    padding: 40px 0px;
    font-size: 18px;
    color: black;
}

.top > h1 > em {
    font-style: normal;
    color: #FFB518;
}

.top > h1 {
    font-family: 'Orbitron', Sans-Serif;
    font-size: 42px;
    color: #777777;
}

#index-channel ul {
    max-width: 375px;
    padding: 10px 0px;
    display: flex;
    list-style: none;
}

#index-channel a {
    font-size: 18px;
    font-weight: bold;
}

#index-channel ul li:hover span {
    color: #FFB518;
}

.index-link {
    font-size: 13px;
    font-variant : small-caps;
}

#index-ad {
    border: 2px solid #FFB518;
    border-radius: 10px;
    width: 350px;
    height: 100px;
}

#index-ad:hover {
    border: 2px solid #777777;
    border-radius: 10px;
}

.about {
    padding: 20px 0px;
}

.about a {
    font-size: 13px;
    color: black;
}

.notice {
    font-family: Gulim;
    font-size: 11px;
    color: gray;
}

#copyright {
    font-size: 13px;
    font-family: Cambria;
    color: gray;
}

#copyright a {
    font-size: 11px;
    font-family: 'Orbitron', Sans-Serif;
}

@media screen and (max-width: 639px) {
    .top{
        font-size: 18px;
    }
    .top > h1 {
        font-family: 'Orbitron', Sans-Serif;
        font-size: 42px;
    }    
    .index-link {
        font-size: 13px;
    }   
    .about {
        font-size: 16px;
    }
}

@media screen and (max-width: 425px) {
    .top{
        font-size: 18px;
    }
    .top > h1 {
        font-family: 'Orbitron', Sans-Serif;
        font-size: 38px;
    }    
    .index-link {
        font-size: 14px;
    }  
    .about {
        font-size: 14px;
    }
    .about a {
        font-size: 14px;
    }
}