* {
    margin: 0px auto;
    padding: 0px;
}

body {
    border-top: 3px solid #FCB416;
    text-align: center;
    font-family: Gulim;
    font-size: 13px;
}

a {
    color: black;
    text-decoration: none;
}

.top {
    font-size: 18px;
    color: black;
}

.top > h1 {
    font-family: 'Orbitron', sans-serif;
    font-size: 40px;
    color: #666666;
}

.top > h1> em {
    font-style: normal;
    color: #FCB416;
}

#index-channel ul {
    max-width: 375px;
    padding: 10px 5px;
    display: flex;
    justify-content: space-between;
    list-style: none;
}

#index-channel a {
    font-size: 18px;
    font-weight: bold;
}

#index-channel ul li:hover span {
    color: #FCB416;
}

.index-link {
    font-size: 13.5px;
    font-variant : small-caps;
}

#index-ad {
    border: 2px solid #FCB416;
    border-radius: 7px;
}

#index-ad:hover {
    border: 2px solid #999999;
    border-radius: 7px;
}

#about {
    padding: 5px;
    color: gray;
    font-size: 8px;
}

.bottom {
    font-size: 12px;
    font-family: Cambria;
    color: gray;
}

@media only screen and (max-width: 1200px) {
    .top{
        font-size: 20px;
    }
    #index-ad:hover {
        border: 2px solid #FCB416;
    }
    .index-link {
        font-size: 15px;
    }   
    #about {
        font-size: 10px;
    }
}
